{% extends "users/profile_base.html" %}
{% load crispy_forms_tags %}
{% block profile_content %}
<style>
    input {max-width: 100%};

</style>
<div class="col-md-8">
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      
      
      
<div class="col-md-8">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                <small class="text-muted float-right">{{ post.category }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content.html|safe  }}</p>
        </div>
    </article>
    {% endfor %}
</div>

<div class="col-md-4">
    <div class="content-section">
        <h3>Account</h3>
        <p class='text-muted'>Your personal account
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action list-group-item-light active" aria-current="true">
                    My Posts
                </a>
                <a href="{% url 'user-profile' %}" class="list-group-item list-group-item-light list-group-item-action">Update Profile</a>
                <a href="#" class="list-group-item list-group-item-light list-group-item-action">Update Password</a>
                <a href="{% url 'user-picture' %}" class="list-group-item list-group-item-action list-group-item-light">Update Picture</a>
            </div>
        </p>
    </div>
</div>
{% endblock profile_content %}