{% extends "blog/base.html" %}
{% load static%}
{% load pagination_tags %}
{% block search_bar %}

<form action="{% url 'search-results' %}" method="get" class="form-inline" >
    {{ form.search }}
    {{ form.filter_field }}
    <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Search">
</form>

{% endblock search_bar %}

{% block content %}
{% block posts %}{% endblock posts %}

<div class="col-md-4">
    <div class="content-section">
        <h3>Category</h3>
        <p class='text-muted'>Explore your interests
            <div class="list-group">
                {% for category in category_list %}
                    <a href="{% url 'category-results' category.name %}" class="list-group-item list-group-item-action list-group-item-light {{ category }}"> {{ category.name }}</a>
                {% endfor %}
                
            </div>
        </p>
    </div>
</div>

{% block infinite_scroll %}{% endblock infinite_scroll %}


<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>


{% endblock content %}
